* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  background-color: #595959;
  color: white;
  font-family: "Roboto", sans-serif;
}

svg {
  fill: white;
}

li {
  color: white;

  &:hover {
    transition: 0.3s;
    opacity: 20%;
    cursor: pointer;
  }
}

button {
  font-size: 1em;
  padding: 0.35em 1.2em;
  border: 0.1em solid #ffffff;
  margin: 0.3em 0 0.3em 0;
  border-radius: 0.12em;
  font-weight: 300;
  text-align: center;
  cursor: pointer;
  color: black;

  &:hover {
    transition: 0.3s;
    opacity: 20%;
  }
}

.resource {
  color: white;
}

.explanatory-notes-container {
  display: var(--display);
}

