.container {
  display: flex;
  flex-direction: column;
  max-height: 90vh;
  width: 95vw;
  padding-left: 1rem;
  height: 100%;
  color: #263238;
  min-width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;

  li {
    color: #000000;

    &:hover {
      opacity: 1;
    }
  }

  h4 {
    color: white;
    padding: .5rem;
  }

  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
  }

  .toggle {
    display: flex;
    align-items: center;
  }

  .editor-view {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #7a7a7a;
    border-radius: 3rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
    width: 500px;
    height: 3rem;
    color: #263238;
    flex-wrap: nowrap;

    button {
      height: 3rem;
      border-radius: 3rem;
      width: 250px;
      background-color: #7a7a7a;
      border-width: 0;
      font-weight: 400;
      font-size: 1.2rem;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .active {
      background-color: #ffffff;
    }
  }

  .editor-container {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100vw;
  }

  .editor {
    width: 80vw;
  }

  .fixed-legend {
    position: fixed;
    left: 80vw;
    margin: 1rem;
  }

  .table {
    width: 70vw;
    height: 70vh;
  }

  .table-full-screen {
    width: 94.5vw;
    transition: {
      delay: .5s
    };
  }
}