.revisionPlanItems {
  overflow-y: scroll;
  padding: 1rem 1rem;
  max-height: 35vh;
  min-width: 20vw;
}

.revisionPlanItem {
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
  cursor: pointer;

  &:hover {
    transition: 0.3s;
    opacity: 20%;
  }
}
