h3, p {
  padding: .1rem .3rem;
}

.container {
  display: flex;
  flex-direction: column;
}

.section {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.description-section {
  h3 {
    padding-bottom: .2rem;
  }

  p {
    padding-top: 0;
  }
}