h3, p {
  padding: .1rem .3rem;
}

.container {
  display: flex;
  flex-direction: column;
}

.section {
  display: flex;
  flex-direction: row;
  align-items: center;
}

table.performance {
  marginLeft:4px;
  border-width: 0px;
  width: 100%;
}

table.performance tr:nth-child(even) {
  background-color: #555555;
}

.description-section {
  h3 {
    padding-bottom: .2rem;
  }

  p {
    padding-top: 0;
  }
}