.workPackageItems {
  overflow-y: scroll;
  padding: 1rem 1rem;
}

.workPackageItem {
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;

  a:hover {
    transition: 0.3s;
    opacity: 20%;
  }

  &.wp-progress-status-AOS {
    color: #00b050;
  }
  &.wp-progress-status-BS {
    color: #b70d00;
  }
  &.wp-progress-status-OS {
    color: #00b050;
  }
  &.wp-progress-status-ROD {
    color: #ff6d34;
  }
  &.wp-progress-status-C {
    color: #c2c2c2;
  }
}
