// Dynamic configuration
window.__config__ = {
  SERVER_URL_REVISION_LIST: '${SERVER_URL_REVISION_LIST}',
  SERVER_URL_REVISION_ID: '${SERVER_URL_REVISION_ID}',
  SERVER_URL_WORKPACKAGE_LIST: '${SERVER_URL_WORKPACKAGE_LIST}',
  SERVER_URL_WORKPACKAGE_DASHBOARD: '${SERVER_URL_WORKPACKAGE_DASHBOARD}'
}